.btn-red {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 4px;
    background: #D2001B;
    padding: 10px 16px;

    span {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }
}