.send-cv-modal {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border-radius: 4px;
    background: #212121;
    width: fit-content;

    .modal-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        border-bottom: none;
        padding: 0;

        .form-title {
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
        }

        .form-description {
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: -0.084px;
        }
    }

    .modal-footer {
        border-top: none;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 16px;

        button {
            flex-grow: 1;
        }

    }
}