.partner-card {
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2A2A2B;

    img {
        width: 87.014px;
        height: 48.946px;
        aspect-ratio: 16/9;
    }
}